<table class="table table-bordered" id="table">
    <tr>
        <th onclick="sortTable(0)">Restaurant</th>
        <th onclick="sortTable(1)">Item</th>
        <th onclick="sortTable(2)">Calories</th>
        <th onclick="sortTable(3)">Total Fat</th>
        <th onclick="sortTable(4)">Saturated Fat</th>
        <th onclick="sortTable(5)">Trans Fat</th>
        <th onclick="sortTable(6)">Cholesterol</th>
        <th onclick="sortTable(7)">Sodium</th>
        <th onclick="sortTable(8)">Carbs</th>
        <th onclick="sortTable(9)">Fiber</th>
        <th onclick="sortTable(10)">Sugar</th>
        <th onclick="sortTable(11)">Protein</th>
        <th onclick="sortTable(12)">Fl Oz</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.restaurant}}</td>
        <td>{{item.name}}</td>
        <td>{{item.calories}}</td>
        <td>{{item.total_fat}}g</td>
        <td>{{item.sat_fat}}g</td>
        <td>{{item.trans_fat}}g</td>
        <td>{{item.cholesterol}}mg</td>
        <td>{{item.sodium}}mg</td>
        <td>{{item.carbs}}g</td>
        <td>{{item.fiber}}g</td>
        <td>{{item.sugar}}g</td>
        <td>{{item.protein}}g</td>
        <td>{{item.floz}}</td>
    </tr>
    {% endfor %}
</table>
