{% load percentify %}
{% load remove_trailing_zero %}
{% load filter %}
<table class="table table-striped" id="table">
    <tr>
        <th onclick="sortTable(0)">Restaurant</th>
        <th onclick="sortTable(1)">Item</th>
        <th onclick="sortTable(2)">Calories</th>
        <th onclick="sortTable(3)">Protein</th>
        <th onclick="sortTable(4)">Efficiency</th>
    </tr>
    {% for item in items %}
    <tr>
        {% filter capfirst %}
        <td>{{item.restaurant}}</td>
        <td>{{item.name}}</td>
        {% endfilter %}
        <td>{{item.calories}}</td>
        <td>{{item.protein|remove_trailing_zero}}g</td>
        <td>{{item.protein_efficiency|percentify}}%</td>
    </tr>
    {% endfor %}
</table>
